* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    text-align: center;
    margin: 50px;
    color: white
}

input {
    margin-top: 50px;
    width: 200px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}

button {
    margin-top: 50px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 30px;
}